.big_field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 30px auto;
    width: var(--field-size);
    height: var(--field-size);
}

.small_field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    border-color: var(--black);
    font-family: monospace;
    font-size: 9px;
    line-height: 12px;
}

.cell.center {
    border-left: 1px solid;
    border-right: 1px solid;
}

.cell.middle {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.big_cell.cell {
    border-width: var(--big-cell-border-width);
    padding: var(--big-cell-padding);
}

.big_cell.playerX {
    background-color: var(--playerX-color-light);
}

.big_cell.playerO {
    background-color: var(--playerO-color-light);
}

.big_cell.draw {
    background-color: var(--draw-color);
}

.small_cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
}

.small_cell .fa-times {
    font-size: 30px;
}

.small_cell .fa-circle {
    font-size: 24px;
}

.small_cell.playerX {
    background-color: var(--playerX-color);
}

.small_cell.playerO {
    background-color: var(--playerO-color);
}

.small_cell.playerX.makesLineX {
    background-color: var(--playerX-color-dark);
}

.small_cell.playerO.makesLineO {
    background-color: var(--playerO-color-dark);
}

.small_cell.possible {
    cursor: pointer;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

.playerXTurn .small_cell.possible {
    animation-name: blinkPlayerX;
}

.playerOTurn .small_cell.possible {
    animation-name: blinkPlayerO;
}

.finished.playerXTurn .small_cell.possible {
    animation-name: none;
}

.finished.playerOTurn .small_cell.possible {
    animation-name: none;
}

@keyframes blinkPlayerX {
    0% {
        background-color: var(--playerX-color-light);
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: var(--playerX-color-light);
    }
}

@keyframes blinkPlayerO {
    0% {
        background-color: var(--playerO-color-light);
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: var(--playerO-color-light);
    }
}
