.uttt {
    display: flex;
    justify-content: center;
}

.game-panel {
    flex-shrink: 0;
    margin: var(--section-margin);
    margin-left: calc(var(--field-size) / 3);
    padding: var(--big-cell-padding);
    width: calc(var(--field-size) / 3 * 2);
    line-height: 1.5em;
    text-align: left;
    border-left: 3px solid black;
}

.big-field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: var(--section-margin);
    margin-right: 0;
    width: var(--field-size);
    height: var(--field-size);
}

.small-field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    border-color: black;
    font-family: monospace;
    font-size: 9px;
    line-height: 12px;
}

.cell.center {
    border-left: 1px solid;
    border-right: 1px solid;
}

.cell.middle {
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.big-cell.cell {
    border-width: var(--big-cell-border-width);
    padding: var(--big-cell-padding);
}

.big-cell.playerX {
    background-color: var(--playerX-color-light);
}

.big-cell.playerO {
    background-color: var(--playerO-color-light);
}

.big-cell.draw {
    background-color: var(--draw-color);
}

.small-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
}

.small-cell .fa-times {
    font-size: 30px;
}

.small-cell .fa-circle {
    font-size: 24px;
}

.small-cell.playerX {
    background-color: var(--playerX-color);
}

.small-cell.playerO {
    background-color: var(--playerO-color);
}

.small-cell.playerX.makesLineX {
    background-color: var(--playerX-color-dark);
}

.small-cell.playerO.makesLineO {
    background-color: var(--playerO-color-dark);
}

.small-cell.possible {
    cursor: pointer;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

.playerXTurn .small-cell.possible {
    animation-name: blinkPlayerX;
}

.playerOTurn .small-cell.possible {
    animation-name: blinkPlayerO;
}

.finished.playerXTurn .small-cell.possible {
    animation-name: none;
}

.finished.playerOTurn .small-cell.possible {
    animation-name: none;
}

@keyframes blinkPlayerX {
    0% {
        background-color: var(--playerX-color-light);
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: var(--playerX-color-light);
    }
}

@keyframes blinkPlayerO {
    0% {
        background-color: var(--playerO-color-light);
    }
    50% {
        background-color: white;
    }
    100% {
        background-color: var(--playerO-color-light);
    }
}
