.App-logo {
    width: 210px;
    height: 49px;
}

.App-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--big-cell-padding);
    color: black;
}

.App-title {
    flex-shrink: 0;
    font-size: 1.5em;
    text-align: center;
}

.dummy {
    flex-shrink: 1;
    width: 257px;
}

.App-content p {
    padding: 0 var(--big-cell-padding);
    line-height: 1.5em;
}
