.App-header {
    text-align: center;
    padding: var(--big-cell-padding);
    color: black;
}

.App-title {
    flex-shrink: 0;
    font-size: 1.5em;
    text-align: center;
}

.App-content p {
    padding: 0 var(--big-cell-padding);
    line-height: 1.5em;
}
